*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  font-size: 62.5%;
}

body{
  font-size: 1.6rem;
}

header{
  display: flex;
  justify-content: center;
  height: 12rem;
}

.container{
  display: flex;
  justify-content: space-between;
  width: 99rem;
}

.logo{
  display: flex;
  align-items: center;
}

.menu{
  display: flex;
  align-items: center;
}

nav ul,
nav li{
  list-style: none;
}

nav ul{
  display: flex;
}

nav a{
  display: block;
  padding: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #727272;
}

nav a:hover,
nav .active a{
  background-color: #39AAE1;
  color: #FFF;
}

#banner{
  display: flex;
  justify-content: center;
  background-image: url('../images/img1.jpg');
  background-position: center;
  background-size: cover;
  height: 67rem;
}

.column{
  flex-direction: column;
}

.banner_headline{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.banner_headline h1,
.banner_headline h2{
  font-size: 6rem;
  text-shadow: 0 0.1rem 0 #555;
  max-width: 35rem;
}
.banner_headline h2{
  font-size: 2.1rem;
  margin-top: 3rem;
}

.banner_options{
  height: 21rem;
  display: flex;
}

.banner1,
.banner2,
.banner3{
  flex: 1;
  color: #fff;
  padding: 2rem;
}
.banner1{
  background-color: #39AAE1;
}
.banner2{
  background-color: #0079C7;
}
.banner3{
  background-color: #2B4C99;
}
.banner_title{
  font-size: 2.1rem;
}
.banner_desc{
  font-size: 1.2rem;
  margin: 2rem 0;
}
.banner_options a{
  display: inline-block;
  border: 0.1rem solid #fff;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.3rem;
  text-decoration: none;
}
.desc1, .desc2, .desc3{
  display: flex;
  padding: 0.3rem;
  border-bottom: 0.1rem solid #999;
  margin-top: 0.7rem;
  justify-content: space-between;
}

#geral{
 display: flex;
 justify-content: center; 
}
#geral section{
  flex: 2;
}
#geral aside{
  flex: 1;
}

.widget_title{
  margin: 3rem 0 2rem;
}
.widget_title_text{
  color: #000;
  font-size: 2.1rem;
  font-weight: bold;
}
.widget_title_bar{
  width: 5rem;
  height: 0.3rem;
  background-color: #36A9E1;
  margin-top: 1rem;
}

.flex{
  display: flex;
  flex-wrap: wrap;
}

article{
  flex: 1;
  min-width: 30rem;
  margin-right: 2rem;
}
article a{
  text-decoration: none;
}
article .news_data{
  display: flex;
}
article .news_posted_at,
article .news_coments{
  background-color: #2B4C99;
  color: #FFF;
  font-size: 1.2rem;
  padding: 1rem;
}
article .news_coments{
  background-color: #39AAE1;
  margin-left: 0.2rem;
}
article .news_thumbnail{
  margin-top: 3rem;
}
article .news_thumbnail img{
  width: 100%;
  height: auto;
}
article .news_title{
  margin: 2.5rem 0;
  color: #000;
  font-size: 2.3rem;
}
article .news_resume{
  color: #5C5C5C;
  font-size: 1.4rem;
  line-height: 2rem;
  margin-bottom: 3rem;
}

aside .department{
  background-color: #39AAE1;
  color: #39AAE1; /*Só pq está vazio*/
  min-width: 14rem;
  min-height: 16rem;
  margin: 2rem 2rem 0 0;
}
.departments{
  margin-bottom: 0;
}

aside .text_title,
aside .text{
  color: #5C5C5C;
  padding: 2.5rem 0;
  border-bottom: 0.1rem solid #5C5C5C;

}
aside .text{
  padding: 1.5rem 0;
}
aside .text a{
  color: #333;
}